<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'follower-reccomendations' %>
    </div>
  </div>
</section>
